* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}

:root{
    --main-color:#4da0d8;
    --text-color:black;
    --bg-color: radial-gradient(#FFFC35ff, 55%, #FA7F04ff);
    position: relative;
    --big-font:5rem;
    --h2-font:2.25rem;
    --p-font:0.9rem;
}
*::selection{
    background: var(--main-color);
    color:#F0F3F4ff;
}
body{
    color: var(--text-color);
    background: var(--bg-color);
}
header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 90px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    padding: 30px 170px;
    background: black;
    padding: 20px;
 }
.logo{
    color: white;
    font-weight: bolder;
    font-size: 2.4rem;
    align-items: center;
    margin-left: -295px;
}
.navbar{
    display: flex;
}
.navbar a{
    color: white;
    font-size: 1.5rem;
    padding: 10px 20px;
    font-weight: bolder;
}
.navbar a:hover{
    color: #FDB91Cff;
    transition: .4s;
  
}
#menu-icon{
    font-size: 2rem;
    cursor: pointer;
    display: none;
    color: white;
}
.home{
    width: 100%;
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
    align-items: center;
    margin-top: 65px;
}
.home-img{
    width: 360px;
    height: 360px;
    overflow: hidden;
    border-radius: 70%;
    margin-top: 55px;
    margin-left: 80px;
}
.home-img img{
    max-width: 100%;
    height: auto;
    display: block;
}
.home-text{
    margin-left: 158px;
}
.home-text h1{
    font-size: 60px;
    color: black;
    margin-left: -130px;
}
.home-text h2{
    font-size: 27px;
    margin: 1rem 0 2rem;
}
.btn{
    display: inline-block;
    text-decoration: none;
    color: black;
    background: white;
    border: 1px solid white;
    padding: 9px 25px;
    line-height: 1.4;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
}
.btn:hover{
    transform: scale(1.2);
    border: 1px solid #f5dca8;
    background: transparent;
    color: white;
    transition: .4s;
}
.about{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 1.5rem;
    align-items: center;
}
.about-img{
    width: 520px;
    height: 520px;
    overflow: hidden;
    margin-right: 50px;
    margin-left: 115px;
    margin-top: 150px;
    margin-bottom: -30px;
}
.about-img img{
    max-width: 100%;
    height: auto;
    display: block;
}
.about-text span{
    color: black;
}
.about-me {
    max-width: 600px;
    margin-top: -210px;
    margin-left: -57px;
}
.about-me span{
    display: block;
    font-size: 3.0em;
    margin-bottom: 10px;
    margin-top: 0px;
}
.about-me h2{
    font-size: 1.0em;
    margin-bottom: 20px;
}
.about-me ul{
    list-style: none;
    padding: 0;
}
.about-me li{
    margin-bottom: 10px;
}
.about-me li strong{
    display: inline-block;
    width: 100px;
    font-weight: bold;
}
.about-btn{
    display: inline-block;
    text-decoration: none;
    color: black;
    background: white;
    border: 1px solid white;
    padding: 9px 25px;
    line-height: 1.4;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
    margin-left: -57px;
    margin-top: 10px;
}
.about-btn:hover{
    transform: scale(1.2);
    border: 1px solid #f5dca8;
    background: transparent;
    color: white;
    transition: .4s;
}
.heading{
    margin-bottom: 50px;
    margin-left: 145px;
    margin-top: 50px;
}
.heading span{
    color: black;
    font-size: 3.0em;
    margin-left: -345px;
    margin-top: -500px;
    margin-bottom: 500px;
}
.heading h2{
    font-size: 2.5em;
    margin: 10px 0;
    color: #26272b;
}
.heading p{
    font-size: 1em;
    color: #26272b;
}
.projects-project{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.box{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    max-width: 600px;
    margin-top: -30px;
}
.box-img img{
    max-width: 100%;
    height: auto;
    margin-bottom: 50px;
}
h2{
    color: black;
    font-size: 2em;
    margin-bottom: 10px;
}
p{
    color: #26272b;
    font-size: 1em;
    line-height: 1.6;
}
.blogs-blog span{
    color: black;
    font-size: bolder;
    margin-left: -785px;
    margin-top: 300px;
    margin-bottom: -500px;
}
.blogs-blog{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.box{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    max-width: 600px;
    margin-top: 18px;
    margin-bottom: -30px;
}
.box-img img{
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.container{
    width: 80%;
    margin: 50px auto;
}
.contact-box{
    background: white;
    display: flex;
}
.contact-left{
    flex-basis: 60%;
    padding: 40px 60px;
}
.contact-right{
    flex-basis: 40%;
    padding: 40px;
    background: transparent;
    color: black;
}
.body{
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    color: black;
    font-size: 3.0em;
    margin-top: -50px;
}
.form{
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label{
    display: block;
    margin-bottom: 8px;
}
input,
textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 5px solid #FA7F04ff;
    border-radius: 6px;
    box-sizing: border-box;
}
button{
    display: inline-block;
    text-decoration: none;
    color: black;
    background: white;
    border: 1px solid white;
    padding: 9px 25px;
    line-height: 1.4;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
}
button:hover{
    transform: scale(1.2);
    border: 1px solid #f5dca8;
    background: transparent;
    color: white;
    transition: .4s;
}
.social-icons{
    list-style: none;
    padding: 0;
    display: flex;
}
.social-icons li{
    margin-right: 10px;
}
.social-icons a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #2A2B2Fff;
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    transition: background-color 0.3s;
    margin-top: 26px;
}
.social-icons a:hover {
    background-color: #ddd;
    transform: scale(1.2);
    border: 1px solid #f5dca8;
    background: transparent;
    color: white;
    transition: .4s;
}
.social-icons i{
    font-size: inherit;
}
.heading p{
    font-weight: normal;
}
.box h2{
    font-weight: bold;
}
.box p{
    font-weight: normal;
}
.box ul{
    font-weight: normal;
}
.box h2{
    font-weight: bold;
}
.tab-titles{
    display: flex;
    margin-left: 215px;
    margin-top: -175px;
    font-weight: bolder;
}
.tab-links{
    margin-right: 30px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    text-align: center;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: black;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    margin-left: 420px;
    font-weight: lighter;
    margin-left: 215px;
}
.tab-contents ul li span{
    color: black;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
#a{
    width: 62px;
    position: sticky;
    margin-top: -15px;
    margin-left: -6px;
    right: 25px;
}
#b{
    width: 100px;
    height: 180px;
    margin-left: 450px;
    margin-bottom: -200px;
    margin-top: 115px;
}
#c{
    width: 150px;
    height: 250px;
    top: 100px;
    margin-right: -500px;
    margin-left: 355px;
    margin-bottom: -200px;
    margin-top: 115px
}
#d{
    width: 150px;
    height: 250px;
    margin-top: 300px;
    margin-right: -600px;
    margin-left: 790px;
    margin-top: 115px;
    margin-bottom: -170px;
}
#e{
    width: 125px;
    height: 225px;
    margin-top: 300px;
    margin-right: -600px;
    margin-left: 1000px;
    margin-top: 115px;
    margin-bottom: -150px;
}
#f{
    width: 120px;
    height: 215px;
    margin-right: -600px;
    margin-left: 170px;
    margin-top: 95px;
    margin-bottom: -87px;
}
#g{
    width: 127px;
    height: 215px;
    margin-right: -600px;
    margin-left: 1050px;
    margin-top: 95px;
    margin-bottom: -80px;
}
#h{
    width: 220px;
    height: 280px;
    margin-right: -635px;
    margin-left: 150px;
    margin-top: -80px;
    margin-bottom: -640px;
}
